@font-face {
  font-family: "Poppins";
  src: url("Font/Poppins.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("Font/PlayfairDisplay.ttf") format("truetype");
}

:root {
  --primary: #a78364;
  --bg_body: #fefcfb;
  --light-primary: #f7f3ed;
  --text-black: #424241;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif, FontAwesome;
  background-color: var(--bg_body);
  color: var(--text-black);
}

.bg-body {
  background-color: var(--bg_body) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-dark {
  color: var(--text-black);
}

/******************* header ************************/
header nav.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  font-size: 18px;
  color: #615e5b;
  position: relative;
}

header nav.navbar .navbar-nav .nav-item .btn-primary,
.btn-row .btn-primary {
  width: 159px;
  height: 46px;
  background: var(--primary) !important;
  border: 0;
  color: #fff !important;
  font-size: 18px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.convert-lang {
  background: var(--light-primary);
  height: 39px;
  width: 60px;
  color: var(--primary);
  font-size: 18px;
}

.convert-lang:hover {
  background: var(--primary);
  color: #f7f3ed;
  transition: all 0.3s ease;
}

.bg-light-primary .convert-lang {
  background: var(--primary);
  height: 39px;
  width: 60px;
  color: var(--light-primary);
  font-size: 18px;
}


.h-navbar {
  height: 70px;
  background-color: var(--bg_body);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: var(--primary) !important;
}

@media (min-width: 992px) {
  header nav.navbar .navbar-nav .nav-item .btn-primary {
    font-size: 1vw;
  }

  header nav.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1vw;
  }

  .h-navbar {
    height: 110px;
  }
}

header .nav-link::before,
header .nav-link::after {
  content: "";
  position: absolute;
  bottom: -0.15rem;
  width: 0;
  height: 0.1rem;
  background: var(--primary);
  left: 0;
  right: 0;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header .w-70 {
  width: 70%;
}

header .nav-item:hover .nav-link::before {
  width: 100%;
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header .nav-item:hover .nav-link::after {
  width: 100%;
  background: transparent;
  transition: 0s;
}

.btn-hover-login {
  position: relative;
  background-color: #5e5e5e;
  border-color: #c2c2c2;
  color: #fff;
  overflow: hidden;
}

.btn-hover-login::before,
.btn-hover-login::after {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100px) skewX(-15deg);
  content: "";
}

.btn-hover-login::before {
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(30px);
  opacity: 0.5;
}

.btn-hover-login::after {
  width: 30px;
  left: 30px;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(5px);
}

.btn-hover-login:hover::before,
.btn-hover-login:hover::after {
  transform: translateX(300px) skewX(-15deg);
  transition: all 0.9s ease;
}

/*********************login & sign up *******************/
#loginModal .title-sec,
#SignUpModal .title-sec {
  color: #333333;
}

#loginModal .modal-content form .form-label,
#SignUpModal .modal-content form .form-label {
  font-size: 18px;
}

.modal-content.p-35px {
  padding: 35px;
}

#loginModal .modal-content form .form-control,
#SignUpModal .modal-content form .form-control {
  background: #ffffff;
  opacity: 0.5;
  border: 1px solid var(--primary);
}

#SignUpModal .modal-content form .form-check-input {
  border: 1px solid var(--primary);
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.separator span {
  color: #615e5b;
  font-size: 18px;
}

.separator::before,
.separator::after {
  content: " ";
  width: 36%;
  border-bottom: 1px solid #00000021;
}

.separator::before {
  margin-right: 1.25rem;
}

.separator::after {
  margin-left: 1.25rem;
}

.login-social a {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #f1ede7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none !important;
}

/******************* header sections ************************/

.title-head {
  font-family: "PlayfairDisplay";
  font-size: 6.117021276595745vw;
  line-height: 100%;
  color: var(--text-black);
  position: relative;
  margin: 18px 0;
}

.sup-title-head {
  font-size: 15px;
  line-height: 127%;
  color: #615e5b;
}

.btn-primary {
  width: 159px;
  height: 46px;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background: var(--light-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.btn-outline-primary {
  width: 159px;
  height: 46px;
  background: transform;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-outline-primary:hover {
  background: var(--light-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 90%;
  border: 2px solid var(--primary);
  z-index: 1;
  transform: translate(-20px, 40px);
}

.image-container img {
  position: relative;
  z-index: 2;
}

.img-sec-head {
  height: 300px;
}

.rectangle {
  height: 416px;
  background: #a78364;
  position: absolute;
  right: 0;
  bottom: 50px;
}

@media (min-width: 650px) {
  .img-sec-head {
    height: 400px;
  }

  .image-container::after {
    left: 0;
    transform: translate(-20px, 55px);
  }
}

@media (min-width: 992px) {
  .title-head {
    font-size: 5vw;
    line-height: 117%;
    margin: 0;
  }

  .title-head:after {
    content: "";
    position: absolute;
    width: 106px;
    height: 0px;
    left: -135px;
    top: 61px;
    background: #a78364;
    opacity: 0.5;
    border: 2px solid #a78364;
  }

  .sup-title-head {
    font-size: 1.2vw;
    line-height: 167%;
  }

  .img-sec-head {
    height: 500px;
  }

  .w-h-svg {
    width: 591px;
    height: 600px;
  }

  .image-container {
    padding-top: 20px;
  }

  .image-container::after {
    transform: translate(-20px, 77px);
  }
}

@media (min-width: 1800px) {
  .img-sec-head {
    height: 590px;
  }

  .w-h-svg {
    width: 591px;
    height: 700px;
  }

  .image-container {
    padding-top: 0;
  }
}

/************* section ********************/
.bg-light-primary {
  background-color: var(--light-primary);
}

.sec-why-choosing {
  padding: 50px 0;
  margin-top: -25px;
}

.title-sec {
  font-family: "PlayfairDisplay";
  font-weight: 700;
  font-size: 40px;
  color: var(--text-black);
}

.sup-title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: var(--text-black);
}

.why-choosing-Us {
  padding: 40px 0 0 0;
}

.why-choosing-Us h4 {
  font-weight: 500;
  font-size: 20px;
  color: var(--text-black);
  margin-top: 5px;
}

.why-choosing-Us p {
  font-weight: 400;
  font-size: 15px;
  color: #615e5b;
}

@media (min-width: 992px) {
  .sec-why-choosing {
    padding: 110px 0;
  }

  .title-sec {
    font-size: 3.2vw;
  }

  .sup-title {
    font-size: 0.9375vw;
  }

  .why-choosing-Us {
    padding: 80px 0 0 0;
  }

  .why-choosing-Us h4 {
    font-size: 1.25vw;
  }

  .why-choosing-Us p {
    font-size: 0.9375vw;
  }
}

/************* section ********************/

.TopProducts .swiper .swiper-nav-wrapper {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: auto;
}

.TopProducts .swiper .swiper-nav-wrapper .swiper-button-next,
.TopProducts .swiper .swiper-nav-wrapper .swiper-button-prev {
  top: 0;
  top: auto;
  left: auto;
  right: auto;
  position: relative !important;
}

.TopProducts .swiper .swiper-nav-wrapper .swiper-button-next:after,
.TopProducts .swiper .swiper-nav-wrapper .swiper-button-prev:after {
  display: none;
}

.swiper .swiper-nav-wrapper .swiper-button-prev,
.swiper .swiper-nav-wrapper .swiper-button-next,
.swiper .swiper-nav-wrapper .swiper-container-rtl .swiper-button-next,
.swiper .swiper-nav-wrapper .swiper-container-rtl .swiper-button-prev {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.swiper-pagination {
  margin: 0;
  padding: 0;
  width: auto;
  position: relative !important;
  display: block;
  width: auto;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--primary);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: 0;
  bottom: 0;
  width: auto;
  padding: 0 1.5em;
}

.TopProducts .nav-pills .nav-item .nav-link {
  font-size: 18px;
  color: #615e5b;
  opacity: 0.5;
  padding: var(--bs-nav-link-padding-y) 7px;
}

.TopProducts .nav-pills .nav-link.active,
.TopProducts .nav-pills .show>.nav-link {
  background: transparent;
  font-weight: 700;
  color: #9a795c;
  opacity: 0.5;
}

.TopProducts .w-TopProducts {
  width: 100%;
}

.TopProducts .swiper .swiper-slide .card .card-img-top {
  height: 54vw;
}

.TopProducts .swiper .swiper-slide .card .card-title {
  font-weight: 500;
  font-size: 20px;
  color: #424241;
}

.TopProducts .swiper .swiper-slide .card .card-text {
  font-weight: 500;
  font-size: 20px;
  color: #a78364;
}

@media (min-width: 640px) {
  .TopProducts .swiper .swiper-slide .card .card-img-top {
    height: 40vw;
  }

  .TopProducts .w-TopProducts {
    width: 75%;
  }

  .TopProducts .nav-pills .nav-item .nav-link {
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  }
}

@media (min-width: 992px) {
  .TopProducts .swiper .swiper-slide .card .card-img-top {
    height: 16.145833333333332vw;
  }

  .TopProducts .w-TopProducts {
    width: 50%;
  }

  .TopProducts .nav-pills .nav-item .nav-link {
    font-size: 1.25vw;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  }

  .TopProducts .swiper .swiper-slide .card .card-title,
  .TopProducts .swiper .swiper-slide .card .card-text {
    font-size: 1.25vw;
  }
}

.TopProducts .quantity-product input {
  width: 32px !important;
  height: 32px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(144, 144, 144, 0.5);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: transparent;
  background-color: var(--primary);
}

/*********************** Offers ****************************/
.Offers {
  background-color: #f7f3ed;
}

.Offers .card {
  background: #fefcfb;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: none;
  position: relative;
}

.Offers .card .card-img-top {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.Offers .card .card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #424241;
}

.Offers .card .line-break {
  height: 0.2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.23);
}

.Offers .card .price h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.Offers .card .price p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: #4f4f4f;
}

.Offers .card>.front,
.Offers .card>.back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

.Offers .card>.front {
  transform: rotateY(0deg);
}

.Offers .card>.back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

.Offers .card:hover>.front {
  transform: rotateY(180deg);
  opacity: 0;
}

.Offers .card:hover>.back {
  transform: rotateY(0deg);
  opacity: 1;
}

.Offers .card .back h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #d50b0b;
  opacity: 0.5;
}

.Offers .card .back h4 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  line-height: 75px;
  color: #424241;
}

.Offers .card .back h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  opacity: 0.5;
}

.Offers .card .back p {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #424241;
}

.Offers .card .back a {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #a78364;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.Offers .card .back a:hover {
  color: #b3aea7;
}

/*********************** New Collection ****************************/

.NewCollection .margin-negitve div .bg-primary {
  margin-top: -13%;
  position: relative;
}

.NewCollection .margin-negitve h4 {
  font-family: "PlayfairDisplay";
  font-size: 20px;
  color: #FEFCFB;
}


@media (min-width: 992px) {
  .NewCollection .margin-negitve .img-fluid {
    width: 92%;
    height: 26.041666666666668vw;
  }

  .NewCollection .margin-negitve h4 {
    font-size: 1.5vw;
    color: #FEFCFB;
  }
}

/************************* footer *****************************************/
footer {
  background-color: #424241;
  padding: 20px 0 0 0;
}

footer h4 {
  font-family: "PlayfairDisplay";
  font-size: 20px;
  line-height: 32px;
  color: #fefcfb;
  margin-top: 15px;
}

footer p,
footer .items-list a {
  font-size: 14px;
  color: #fefcfb;
  opacity: 0.5;
  display: block;
  text-decoration: none;
}


footer .items-list a:hover {
  opacity: 0.8;
}

footer .fs-14px {
  font-size: 13px;
}

footer .vr {
  display: flex;
  justify-content: center;
  width: 1px;
  min-height: 1px;
  background-color: #fff;
  opacity: 0.25;
  height: 30px;
  align-items: center;
}

@media (min-width: 992px) {
  footer {
    background-color: #424241;
    padding: 50px 0 0 0;
  }

  footer h4 {
    font-size: 24px;
    margin-top: 0;
  }

  footer p,
  footer .items-list a {
    font-size: 18px;
    margin-top: 5px;
  }

  footer .fs-14px {
    font-size: 14px;
  }
}






































/*************** shop page ***************/
.breadcrumb-item+.breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, "\f105");
  color: #FEFCFB;
}

.bg-shop {
  background-image: url(../images/bg-shop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover;
  height: 30vh;
}

.bg-img-container {
  background: rgba(0, 0, 0, 0.25);
}

.bg-img-container .container h1 {
  font-weight: 600;
  font-size: 8vw;
  color: #FEFCFB;
}

.bg-img-container .container .breadcrumb .breadcrumb-item,
.bg-img-container .container .breadcrumb .breadcrumb-item a {
  font-size: 3vw;
  color: #FEFCFB;
  text-decoration: none;
}

.Productspags-love-img {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #F7F3ED;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #E4E0DA;
}

.Productspags-love-img:hover {
  color: rgba(255, 0, 0, 0.788);
}

.Productspags-love-img.active {
  color: #F86F64;
}

.tit-filter {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  padding: 0 18px;
}

.Categories-filter .nav-Filter-Categories .nav-link,
.Filter-price .nav .form-check,
.Filter-Rating .nav .form-check {
  font-size: 16px;
  text-transform: uppercase;
  color: #424241;
  padding: 4px 0;
}

.Categories-filter .nav-Filter-Categories .nav-link::before {
  content: "\f061";
  padding: 0 8px;
  color: #424241;
}

.Categories-filter .nav-Filter-Categories .nav-link:hover {
  color: var(--primary);
}

.Categories-filter .nav-Filter-Categories .nav-link:hover::before {
  color: var(--primary);
}

.Categories-filter .nav-Filter-Categories .nav-link.active {
  color: var(--primary);
}

.Categories-filter .nav-Filter-Categories .nav-link.active::before {
  color: var(--primary);
}

.Filter-price,
.Filter-Rating {
  margin: 0 10px;
  margin-top: 20px;
}

.Filter-price .form-check-input {
  border-color: #E4E0DA;
}

.Filter-price .form-check-input:checked {
  border-color: var(--primary);
}

.Filter-price .nav,
.Filter-Rating .nav {
  padding: 0 18px;
}

.filter-icon {
  width: 40px;
}

.border-filter {
  border: 1px solid var(--primary);
}

.Product_items .card-title {
  font-size: 18px;
  color: var(--text-black);
}

.Product_items .d-flex span {
  color: #615E5B;
  opacity: 0.5;
}

.Product_items .card-text {
  font-weight: 500;
  font-size: 24px;
}

.Product_items .card-text del {
  color: var(--primary);
  font-size: 18px;
  opacity: 0.65;

}

@media (min-width: 992px) {
  .bg-shop {
    height: 58vh;
  }

  .bg-img-container .container h1 {
    font-size: 4.3vw;
  }

  .bg-img-container .container .breadcrumb .breadcrumb-item,
  .bg-img-container .container .breadcrumb .breadcrumb-item a {
    font-size: 1.5vw;
  }

  .Search-100 {
    width: 100%;
  }

  .tit-filter {
    font-size: 22px;
    padding: 0;
  }
}










/*************** Support ****************/

.Support .breadcrumb-item a,
.Support .breadcrumb-item {
  color: #615E5B !important;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.Support .breadcrumb-item.active {
  color: var(--primary) !important;
}

.Support .breadcrumb-item+.breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, "\f105");
  color: #615E5B;
}

.Support p {
  font-size: 15px;
}

@media (min-width: 992px) {
  .Support p {
    font-size: 0.9375vw;
  }
}

.Support ul.Delivery-list {
  list-style: none;
}

.Support ul.Delivery-list li::before {
  content: "\2022";
  color: var(--primary);
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.form-control:focus {
  border-color: var(--primary);
}


/*************** About Us ****************/

.bg-AboutUs {
  background-image: url(../images/AboutUs.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover;
  height: 20vh;
}

.bg-AboutUs .bg-img-container {
  background: none;
}

.AboutUs-text h4 {
  font-weight: 500;
  font-size: 20px;
  color: #424241;
  margin-top: 15px
}

.AboutUs-text p {
  font-size: 14px;
  color: #615E5B;
}

.About-container {
  position: relative;
  display: inline-block;
}

.About-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 90%;
  border: 2px solid var(--primary);
  z-index: 1;
  transform: translate(-30px, 47px);
}

.About-container.left-border::after {
  transform: translate(15px, 48px);
}

.About-container img {
  height: 65vw;
  position: relative;
  z-index: 2;
}

.sec2-bg-AboutUs {
  background-image: url(../images/sec2_AboutU.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover;
  height: 476px;
}

.sec2-bg-AboutUs .bg-img-container {
  background: rgba(0, 0, 0, 0.49);
}

.sec2-bg-AboutUs h4 {
  font-family: 'PlayfairDisplay';
  font-weight: 700;
  font-size: 10vw;
  line-height: 11.691022964509395vw;
  color: #FEFCFB;
  text-transform: uppercase;
}

.sec2-bg-AboutUs p {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #FEFCFB;
  margin-bottom: 20px;
}


@media (min-width: 650px) {
  .About-container img {
    height: 52vw;
  }
}

@media (min-width: 992px) {
  .About-container::after {
    transform: translate(-50px, 76px);
  }

  .About-container.left-border::after {
    transform: translate(50px, 85px);
  }

  .About-container img {
    height: 25vw;
  }

  .bg-AboutUs {
    height: 58vh;
  }

  .AboutUs-text h4 {
    font-size: 3.6979166666666665vw;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .AboutUs-text p {
    font-size: 1.25vw;
    line-height: 2.0833333333333335vw;
  }

  .sec2-bg-AboutUs h4 {
    font-size: 5vw;
    line-height: 8vw;
  }

  .sec2-bg-AboutUs p {
    font-size: 1.6666666666666667vw;
  }

}








/************************** profile ***********************/



.tabs .tabs-content .tabs-menu {
  border: 1px solid var(--primary);
}

.tabs .tabs-content .tabs-menu h4 {
  font-weight: 500;
  font-size: 28px !important;
  color: #333333;
}

.tabs .tabs-content .tabs-menu .tablinks {
  text-align: start;
  border-radius: 0;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #424241;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 0.2px solid #c4c4c438;
  padding: auto;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: none;
  color: var(--primary) !important;
}

.tabs .tabs-content .tabs-menu .tablinks:hover {
  color: var(--primary);
  margin-left: 5px;
}

.w-h-119 .btn {
  width: 109px;
  height: 109px;
}

.tabcontent form .form-control {
  opacity: 0.5;
  border: 1px solid var(--primary);
}

.img-size {
  width: 109px;
  height: 109px;
}

.img-user .bgimg {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s;
}

.img-user:hover .bgimg {
  display: flex;
  transition: all 0.5s;
}

.Support .tab-pofile .tabs-menu .dropdown-toggle::after {
  display: none;
}

.border-outline-primary {
  border: 1px solid var(--primary);
}

@media (min-width: 992px) {
  .tabs .tabs-content .tabs-menu .tablinks {
    line-height: 29px;
    font-size: 1.1458333333333333vw;
    padding: 15px 0;
  }

  .tabs .tabs-content .tabs-menu .tablinks::before {
    content: "\f061";
    padding: 0 8px;
    color: #424241;
  }

  .tabs .tabs-content .tabs-menu .tablinks.active::before {
    color: var(--primary);
  }
}


:where(.swal2-icon) {
  border-color: #facea800 !important;
}

.swal2-confirm.btn-primary {
  width: 159px;
  height: 46px;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
  transition: all 0.3s ease-in-out;
  margin: 3px;
}

.swal2-cancel.btn-outline-primary {
  width: 159px;
  height: 46px;
  background: #0000 !important;
  border: 1px solid var(--primary);
  color: var(--primary);
  margin: 3px;
}




/*********************FAQ*******************************************/

.Faq-acco .accordion-button {
  height: 80px;
    background: #F7F3ED;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #615E5B;
}

.Faq-acco .accordion-item {
  color: #615E5B;
  background: #FEFBF5;
  border: 0px;
}

.Faq-acco .accordion-button:not(.collapsed) {
  color: #615E5B;
  background: #F7F3ED;
  border: 0.2px solid #00000029;
}

.Faq-acco .accordion-body {
  border-width: 0px 0.2px 0.2px 0.2px;
  border-style: solid;
  border-color: #00000029;
  font-weight: 400;
  font-size: 13px;
}

.Faq-acco .accordion-button::after {
  content: "\002b";
  background-image: none;
  transform: rotate(90deg);
}

.Faq-acco .accordion-button:not(.collapsed)::after {
  content: "\2212";
  background-image: none;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .Faq-acco .accordion-button {
    height: 4.6875vw;
    background: #F7F3ED;
    font-weight: 700;
    font-size: 1.1vw;
    color: #615E5B;
  }

  .Faq-acco .accordion-item {
    font-size: 0.9375vw;
  }
  .Faq-acco .accordion-body {
    font-size: 0.9375vw;
  }
}